.buttonContainer,
.splashContainer {
  display: flex;
  flex-direction: column;
}

.splashContainer {
  /* background: grey !important; */
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 40%,
      rgba(0, 0, 0, 0.5) 60%,
      rgba(0, 0, 0, 0.7)
    ),
    url('../../assets/images/mobile-splash1.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  mix-blend-mode: color-burn;
}

button:first-child,
button:nth-child(2) {
  width: 80%;
  text-transform: uppercase;
  text-align: center;
  min-height: 54px;
  font-weight: 700;
  letter-spacing: 0.5px;
}

button:first-child {
  background-color: var(--white);
  border-radius: var(--button-border-radius);
  border: none;
  color: #303742;
}

button:nth-child(2) {
  border: 2px solid var(--white);
  color: var(--white);
  border-radius: var(--button-border-radius);
  background: transparent;
  margin-top: 15px;
}

@media screen and (min-width: 400px) {
  .splashContainer {
    background-image: url(../../assets/images/desktop-splash-bg.webp);
  }
}
