.swipeHeader {
  margin: 0;
  margin-top: 10px !important;
  position: relative;
  margin-bottom: 25px !important;
  letter-spacing: 2px;
}

.swipeContainer {
  background: rgb(70, 70, 70);
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 80px;
}

.card {
  height: 550px;
  width: 460px;
  overflow: hidden;
  position: relative;
  border: 3px solid white;
  border-radius: 20px;
}

.cardContainerChild h3 {
  align-self: center;
  font-size: 2rem;
  font-family: Kanit;
  display: flex;
  flex-direction: column;
  position: absolute;
  align-items: center;
  width: 100%;
  margin-top: 10px;
  bottom: 0px;
  background: white;
  min-height: 50px;
  justify-content: center;
}

.card button {
  cursor: pointer;
}

.cardLeftBtn,
.cardRightBtn {
  position: absolute;
  bottom: 12%;
  z-index: 100;
  right: 5%;
  border: none;
  background: transparent;
  height: 50px;
}

.leftSwipe {
  left: 5%;
}

.cardLeftBtn:hover {
  box-shadow: 0px 0px 15px 4px #ffffff;
}

.cardLeftBtn {
  left: 5%;
  right: initial;
}

.cardContainer {
  width: 100%;
  height: 200px;
  /* overflow: hidden; */
}

.cardContainerContainer {
  height: 100%;
  width: 55%;
  display: grid;
  place-items: center;
  justify-content: center;
}

#idklol {
}

/* .cardContainerChild {
  height: 50%;
  width: 50%;
} */
.image {
  width: 400px;
  max-height: 400px;
  object-fit: cover;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
}

.swipe {
  height: 50px;
}

.card > .photoRightBtn,
.card > .photoLeftBtn {
  opacity: 0;
  transition: opacity 200ms ease;
}

.card:hover > .photoRightBtn,
.card:hover > .photoLeftBtn {
  opacity: 1;
}

.photoLeftBtn,
.photoRightBtn {
  position: absolute;
  bottom: 50%;
  left: 3%;
  background: transparent;
  border: 0;
  color: whitesmoke;
}

.photoRightBtn {
  right: 3%;
  left: initial;
}

.swipeBar {
  display: flex;
  position: absolute;
  bottom: 10%;
  padding-left: 5%;
  padding-right: 5%;
  left: 0;
  right: 0;
  justify-content: space-between;
  height: 48px;
  z-index: 2;
}

.swipeBar button {
  height: 100%;
  background: transparent;
  border: 0;
}

.card::after {
  position: absolute;
  content: '';
  background: linear-gradient(0deg, black 0%, transparent 50%) bottom;
  left: 0;
  right: 0;
  z-index: 1;
  height: 40%;
  width: 100%;
  bottom: 8.5%;
}
