.container {
  min-height: 100%;
  /* background-image: url('../../assets/svg/layered-waves-haikei.svg'); */
  /* background-image: url('../../assets/images/DanPic.png'); */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: grid;
  place-items: center;
  grid-template-rows: 20% 60%;
  overflow: hidden;
}

.dropDown {
  position: absolute;
  top: 5%;
  left: 2.5%;
  border: 0;
  background: #ff9960;
  border-radius: 100vh;
  width: 48px;
  height: 48px;
  display: grid;
  place-items: center;
  z-index: 1;
  filter: drop-shadow(2px 4px 6px black);
  cursor: pointer;
}

.matchContainer li {
  list-style: none;
  color: white;
}

.showMatches {
  position: absolute;
  width: 600px;
  height: 500px;
  z-index: 8;
  overflow: scroll;
  overflow-x: hidden;
  border: 1px solid black;
  border-radius: 5px;
  background: transparent;
  backdrop-filter: brightness(0.1) blur(6px);
  margin-top: 2.8%;
}

.matchTitle {
  font-family: 'Kanit';
  display: flex;
  justify-content: center;
  font-style: italic;
  margin: 10px 0px;
  font-size: 35px;
  color: white;
}

.matchContainer {
  display: flex;
  /* padding: 10px 0px 0px 10px; */
  justify-content: space-between;
  border-bottom: 1px solid grey;
  height: 40px;
  align-items: center;
}

.noMatches {
  color: white;
  display: flex;
  justify-content: center;
  font-family: 'Kanit';
  margin-top: 30%;
  font-size: 25px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar {
  width: 12px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #dfdfdf;
}

.reactions {
  display: flex;
  margin-right: 15px;
  gap: 20px;
}

.reactionIcons {
  cursor: pointer;
}

.reactionIcons:hover {
  filter: opacity(50%);
}

.reactionIcons:last-child {
  color: #2b2b2b;
  fill: grey;
}

.reactionIcons:last-child:hover {
  filter: opacity(100%);
  fill: #c9bfbf;
}

.restaurantName {
  font-family: 'Kanit';
  font-weight: 700;
  letter-spacing: 2px;
  max-width: 65%;
  overflow-wrap: break-word;
  padding-left: 25px;
}

.container h2 {
  position: relative;
  z-index: 1;
  margin-top: 30px;
  margin-bottom: 0px;
}

.swipeHeader {
  margin-top: 20px;
}

.havePin {
  margin-top: 0px !important;
  margin-bottom: 10px !important;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
}

.formWrapper {
  display: grid;
  place-items: center;
}

.pinInput {
  padding-left: 0;
  text-align: center;
  min-height: 65px;
  font-size: 25px;
  backdrop-filter: brightness(0.5);
  background: transparent;
  color: white;
  border: 2px solid rgb(255, 255, 255);
  font-family: Kanit;
  box-shadow: 0px 0px 10px 1px #6d2929;
}

.pinInput::placeholder {
  color: rgb(204, 204, 204);
}

.createRoom {
  align-self: center;
  margin: 20px 0;
  text-transform: uppercase;
  font-family: 'Kanit';
  font-weight: 600;
  font-size: 1.1rem;
}

.container form {
  width: auto;
  align-items: center;
  background-image: url('../../assets/images/liquid-cheese.svg');
  background-size: cover;
  min-height: 400px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12),
    0 1px 2px rgba(0, 0, 0, 0.24);
}
form > h2 {
  white-space: nowrap;
  margin: 0;
}
form > input {
  width: 70%;
}

.lobbyEnter {
  padding-left: 0;
  cursor: pointer;
  min-height: 65px;
  font-family: Kanit;
  font-style: italic;
  font-size: 2rem;
  letter-spacing: 2px;
  backdrop-filter: brightness(0.5);
  background: transparent;
  color: white;
  border: 2px solid rgb(255, 255, 255);
  box-shadow: 0px 0px 10px 1px #6d2929;
}

.lobbyEnter:hover {
  backdrop-filter: brightness(0.3);
}

.generateButton {
  height: 50px;
  border: 2px solid rgb(255, 255, 255);
  padding: 5px 5px;
  border-radius: 100px;
  padding: 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  cursor: pointer;
  min-height: 75px;
  min-width: 175px;
  font-family: Kanit;
  font-style: italic;
  font-size: 30px;
  letter-spacing: 2px;
  backdrop-filter: brightness(0.5);
  background: transparent;
  color: white;
  box-shadow: 0px 0px 10px 1px #6d2929;
}

.generateButton:hover {
  backdrop-filter: brightness(0.3);
}

.loader {
  /* border: 16px solid #464646; 
  border-top: 16px solid #3498db; 
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 2s linear infinite; */
  align-self: center;
  margin: 5px 0;
  position: absolute;
}

/* @keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} */

.inputContainer {
  width: 60%;
  gap: 10px;
}

.loader {
  animation: rotator 1.4s linear infinite;
}

@keyframes rotator {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(270deg);
  }
}

.path {
  stroke-dasharray: 170;
  stroke-dashoffset: 0;
  transform-origin: center;
  animation: dash 1.4s ease-in-out infinite,
    colors 1.5s ease-in-out infinite;
}

@keyframes colors {
  0% {
    stroke: #ff45f6;
  }
  25% {
    stroke: #de3e35;
  }
  50% {
    stroke: #8820ff;
  }
  75% {
    stroke: #ffc70d;
  }
  100% {
    stroke: #ff0000;
  }
}

@keyframes dash {
  0% {
    stroke-dashoffset: 187;
  }
  50% {
    stroke-dashoffset: 187/4;
    transform: rotate(135deg);
  }
  100% {
    stroke-dashoffset: 187;
    transform: rotate(450deg);
  }
}

.aboutLink {
  z-index: 1;
  color: #d5d5d5;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Kanit';
  top: 3%;
  right: 3%;
  position: absolute;
  text-shadow: 0px 0px 11px rgb(255 255 255);
  display: flex;
}

.aboutLink:hover {
  text-shadow: 0px 0px 11px rgb(0 255 177);
}

.keyBoard {
  margin-right: 5px;
}
