.aboutContainer {
  height: 100%;
  background: black;
  display: flex;
  flex-direction: column;
  background-image: url(../../assets/images/tempAboutBG.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.aboutHeader {
  font-size: 4rem;
  color: rgb(255, 255, 255);
  position: relative;
  align-self: center;
  font-style: italic;
  top: 50px;
  left: 0;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
  padding: 4px 8px;
  border-radius: 10px;
}

.teamContainer {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.proPic {
  height: 135px;
}

.teamItems {
  display: flex;
  flex-direction: column;
  width: 44%;
}

.teamItem,
.teamItemDan {
  display: flex;
  padding-left: 12px;
  border: 2px solid orange;
  /* width: 75%; */
  margin: 20px;
  background: transparent;
  border-radius: var(--button-border-radius);
  height: 130px;
  backdrop-filter: brightness(0.5) blur(5px);
  -webkit-box-shadow: 0px 0px 20px 5px #ffffff;
  box-shadow: 0px 0px 5px 1px #000000;
}

.teamItems:nth-of-type() {
  align-items: flex-end;
}

.teamItem ul,
.teamItemDan ul {
  display: flex;
  justify-content: center;
  font-family: 'Kanit';
  font-size: 18px;
  /* padding-left: 20px; */
  gap: 10px;
  width: 50%;
  display: flex;
  justify-content: space-evenly;
}

.teamItem h2,
.teamItemDan h2 {
  margin: 0;
  top: 0;
  left: 0;
  font-size: 2.5rem;
  font-family: Kanit;
  font-weight: 900;
}

li a {
  text-decoration: none;
}

.teamItemRight {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.teamItemLeft {
  display: flex;
  width: 100%;
}

.teamItemLeft:first-of-type .proPic {
  margin-right: 10px;
}

.proPic {
  border-radius: 100px;
  height: 100px;
  align-self: center;
}

.nameHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  margin-top: 4px;
  padding-right: 50px;
}

.nameHeader li {
  margin-top: 10px;
  list-style: none;
  font-family: Kanit;
  color: white;
}

.nameHeader:nth-child(2) {
  font-size: 23px;
  padding-left: 10px;
}

.gitHubLink img,
.linkedInLink img,
.personalSite img {
  height: 20px !important;
  width: 20px !important;
}

.teamItemDan ul {
  display: flex;
  justify-content: space-evenly;
  width: 85%;
}

.needsWidth {
  width: 50%;
  display: flex;
  justify-content: space-evenly;
}
